html {
    background-color: rgb(80, 10, 20);    
}

body {
    background-color: rgb(240, 180, 180);
    width: 800px;
    padding: 3em;
    border-radius: 12px;
    margin: 3em auto;
}

* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}

.title {
    width: 474px;
    background-color: rgb(80, 10, 20)!important;
    color: rgb(255, 220, 220);
    text-transform: uppercase;
    font-weight: 800;
    text-align: center;
    font-size: 48px;
    padding: 0;
    border-radius: 12px;
    margin: 0 auto 24px;
}

ul {
    background-color: rgb(255, 220, 220);
    list-style: none;
    width: 472px;
    padding: 0;
    border: 1px solid #333!important;
    border-radius: 12px;
    margin: 0 auto;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: rgb(80, 10, 20);
    font-size: 24px;
    text-align: center;
    text-decoration: none;
    padding: 16px;
}

li a:hover {
    background-color: rgb(80, 10, 20);
    color: rgb(255, 220, 220);
}